
@{
    Layout = null;
}

@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    @Styles.Render("~/bundles/vendor/bootstrap/css")
    <!--===============================================================================================-->
    @Styles.Render("~/bundles/fonts/font-awesome/css")
    <!--===============================================================================================-->
    @Styles.Render("~/bundles/fonts/iconic/css")
    <!--===============================================================================================-->
    @Styles.Render("~/bundles/vendor/animate/css")
    <!--===============================================================================================-->
    @Styles.Render("~/bundles/vendor/css-hamburgers/css")
    <!--===============================================================================================-->
    @Styles.Render("~/bundles/vendor/animsition/css")
    <!--===============================================================================================-->
    @Styles.Render("~/bundles/vendor/select2/css")
    <!--===============================================================================================-->
    @Styles.Render("~/bundles/vendor/daterangepicker/css")
    <!--===============================================================================================-->
    @Styles.Render("~/bundles/util/css")
    @Styles.Render("~/bundles/main/css")
    <!--===============================================================================================-->

</head>
<body>

    @RenderBody()

    <div id="dropDownSelect1"></div>
    <!--===============================================================================================-->
    @Scripts.Render("~/bundle/vendor/jquery/js")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundle/vendor/animsition/js")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundle/vendor/bootstrap/popper/js")
    @Scripts.Render("~/bundle/vendor/bootstrap/js")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundle/vendor/select2/js")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundle/vendor/daterangepicker/moment/js")
    @Scripts.Render("~/bundle/vendor/daterangepicker/js")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundle/vendor/countdowntime/js")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundle/main/js")
    <!--===============================================================================================-->
    @RenderSection("scripts", required: false)
    <!--===============================================================================================-->

</body>
</html>